.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


# Cruft
.DS_Store
.vscode
epub

localRepo
